{extend name='base'/}
{block name='content'}
<table class="table table-hover">
    <tbody>
    <tr>
        <th class="active" colspan="10">温馨提示</th>
    </tr>
    <tr>
        <td>资讯网地址：</td>
        <td colspan="10">
            <a href="http://news.hdcac.com/" target="_blank">news.hdcac.com</a>
        </td>
    </tr>
    <tr>
        <th class="active" colspan="10">系统信息</th>
    </tr>
    <tr>
        <td>核心框架</td>
        <td colspan="5"><a href="http://www.kancloud.cn/manual/thinkphp5/118003" target="_blank">Thinkphp5</a></td>
    </tr>
    <tr>
        <td>图标库</td>
        <td colspan="5"><a href="http://fontawesome.dashgame.com/" target="_blank">fontawesome.dashgame.com</a></td>
    </tr>
    <tr>
        <td>版本号</td>
        <td colspan="5"><a href="http://news.hdcac.com/" target="_blank">1.0</a></td>
    </tr>
    <tr>
        <td>开发者</td>
        <td colspan="5"><a href="http://blog.niefuling.com/" target="_blank">老聂</a></td>
    </tr>
    </tbody>
    <!--<li>-->
    <!--<a href="http://www.kancloud.cn/manual/thinkphp5/118003" target="_blank"><i class="fa fa-w fa-file-code-o"></i>-->
    <!--在线文档</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="http://fontawesome.dashgame.com/" target="_blank"><i-->
    <!--class="fa fa-w fa-hand-o-right"></i> 图标库</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="http://bbs.houdunwang.com" target="_blank"><i class="fa fa-w fa-forumbee"></i> 论坛</a>-->
    <!--</li>-->
</table>
{/block}